{:paths ["src" "resources"]
 :deps  {org.apache.httpcomponents/httpcore         {:mvn/version "4.4.16"}
         org.apache.httpcomponents/httpclient       {:mvn/version "4.5.14"}
         org.apache.httpcomponents/httpclient-cache {:mvn/version "4.5.14"}
         org.apache.httpcomponents/httpasyncclient  {:mvn/version "4.1.5"}
         org.apache.httpcomponents/httpmime         {:mvn/version "4.5.14"}
         commons-codec/commons-codec                {:mvn/version "1.16.1"}
         commons-io/commons-io                      {:mvn/version "2.16.1"}
         slingshot/slingshot                        {:mvn/version "0.12.2"}
         potemkin/potemkin                          {:mvn/version "0.4.7"}}}
